#grid{
    width:600px;
    height:600px;
    top:1px solid #004;
    left:1px solid #004;
}
.cell{
    border-right: 1px solid #003;
    border-bottom: 1px solid #004;
    height: 5px;
    width: 5px;
    float:left;
    background-color: #001;
}
#table{
    position: absolute;
    left: calc(50vw - 300px);
    bottom: 2vh;
}
#title{
    position: absolute;
    left: calc(50vw - 100px);
    top:50px;
}