@font-face {
    font-family: "Computer Pixel-7";
    src: url("//db.onlinewebfonts.com/t/4a064dff704742aa69b8ba55cf497a95.eot"); 
    src: url("//db.onlinewebfonts.com/t/4a064dff704742aa69b8ba55cf497a95.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/4a064dff704742aa69b8ba55cf497a95.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/4a064dff704742aa69b8ba55cf497a95.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/4a064dff704742aa69b8ba55cf497a95.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/4a064dff704742aa69b8ba55cf497a95.svg#Computer Pixel-7") format("svg");
}
@font-face {
    font-family: "G7 Silkworm TTF";
    src: url("//db.onlinewebfonts.com/t/b01112992ce33b1bc535a22b9eb9aec4.eot");
    src: url("//db.onlinewebfonts.com/t/b01112992ce33b1bc535a22b9eb9aec4.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/b01112992ce33b1bc535a22b9eb9aec4.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/b01112992ce33b1bc535a22b9eb9aec4.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/b01112992ce33b1bc535a22b9eb9aec4.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/b01112992ce33b1bc535a22b9eb9aec4.svg#G7 Silkworm TTF") format("svg");
    }
#grid{
    width:100vh;
    height:100vh;
    top:1px solid #004;
    left:1px solid #004;
}
.cell{
    border-right: 1px solid #00001b;
    border-bottom: 1px solid #00001b;
    height: calc(1vh - 1px);
    width: calc(1vh - 1px);
    float:left;
    background-color: #001;
}
#table{
    position: absolute;
    left: calc(50vw - 50vh);
}
html{
    background-color:#001
}
#title{
    position: absolute;
    top: calc(50vh - 250px);
    left: 3vh;
    color: #7DF9FF;
    font-size: 50px;
    font-family: 'TRON', sans-serif;
    text-orientation: upright;
    text-shadow: -4px -4px 6px #0892d0, 4px 4px 6px #0892d0, -4px 4px 6px #0892d0, 4px -4px 6px #0892d0;
}
    /* text-shadow: -1px -1px 1px #0892d0, 1px 1px 1px #0892d0, -1px 1px 1px #0892d0, 1px -1px 1px #0892d0; */
#obstacleButton{
    color: #7DF9FF;
    font-size: 30px;
    font-family: 'TRON', sans-serif;
    background-color: #001;
    position:absolute;
    bottom:5vh;
}
#lightbikes{
    position: absolute;
    top: 10vh;
    left: calc(50vw + 50vh);
    height: 30vh;
    width: calc(100vw - calc(50vw + 50vh));
    font-family: 'TRON', sans-serif;
    text-orientation: upright;
}
#blue{
    color: #0000FF;
}
#yellow{
    color: #FFFF00;
}
#red{
    color: #FF0000;
}
#green{
    color: #00FF00;
}
.bike{
    font-size: 65px;
}
.bikeClass{
    width: calc(100vw - calc(50vw + 50vh));
    height: 15vh;
    display:flex;
    justify-content: space-around;
}
#gameOverText{
    position: absolute;
    left: calc(50vw - 175px);
    top: calc(50vh - 90px);
    z-index:1000;
    width: 400px;
    font-family: "G7 Silkworm TTF";
    color: #33C;
    font-size: 90px;
    text-shadow: 0px 0px 3px #33C
}